
body {
    background-color: rgb(185, 193, 236);
}

#main {
    color: rgb(50, 50, 100);
    margin: 0 10vw 0 10vw;
    text-align: center;
    height: 100vh;
}

img {
    border-color: hsl(255, 25%, 25%);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    display: block;
    max-height: 40vh;
    margin: 0 auto;
    min-width: 120px;
}

ul {
    text-align: left;
    max-width: 250px;
    margin: 10px auto;
}

#link {
    margin: 20px auto 0 auto;
}