body {
    background-color: rgb(185, 193, 236);
}

#page {
    display: grid;
    text-align: center;
    width: 98vw;
    height: 98vh;
    grid-template-areas: "main" "foot";
    grid-template-rows: 1fr 30px;
}

#main {
    color: rgb(50, 50, 100);
    margin: 0 10vw 0 10vw;
    grid-area: main;
}

img {
    border-color: hsl(255, 25%, 25%);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    display: block;
    max-height: 40vh;
    margin: 0 auto;
    min-width: 120px;
}

ul {
    text-align: left;
    max-width: 250px;
    margin: 10px auto;
}

#link {
    grid-area: foot;
}